.section-featured{
    padding: 4.8rem;
}
.logos{
    display: flex;
    justify-content: space-around;
}

.logos img{
    height: 3.2rem;
    
    filter: brightness(0);
    opacity: 40%;
}

.heading-featured-in{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #777;
    
}

/* ================================ */

.section-how{
    padding: 9.6rem 0;
}

.step-number{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}


.step-description{
    line-height: 1.8;
    font-size: 2rem;

}
.step-img-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img{
    width: 35%;

}

.step-img-box::before,.step-img-box::after{
    content: "";
    display: block;
    border-radius: 50%;
    background-color: #fdf2e9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.step-img-box::after{
    width: 50%;
    padding-bottom: 50%;
    background-color: #fae5d3;
    z-index: -1;
}
.step-img-box::before{ 
    width: 60%;
    padding-bottom: 60%;
    z-index: -1;
}