.section-testimonials{
    background-color: #fae5d3;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;


}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
   column-gap: 8rem;
   
}
.testimonials-container{
     padding: 9.6rem;
}
.testimonial-img{
    width: 6.4rem;
    margin-bottom: 1.2rem;
    border-radius: 50%;
}

.testimonial-text{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial-name{
    font-size: 1.6rem;
    color: #6f6f6f;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery-item{
    overflow: hidden ;
}
.gallery-item img{
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover{
    transform: scale(1.1);
}